@import 'layout.scss';


body {
    font-family: 'Aleo', serif;
    color: $primaryColor;
    // background-color: burlywood;
    }

a {
    color: inherit;
    text-decoration: none;
}


// .ob-logo {
//     font-family: wc_mano_negra_btaregular, serif;
//     font-size: 50px;
//     text-decoration: none;
//     color: inherit;
//     span {
//         color: $red;
//     }
   
// }


.ob-header {
    // min-height: calc(100vh - 187px);
    max-height: 100vh;
    display: flex;
    align-items: flex-start;
    text-align: center;
    color: #fff;
    background: {
    //    image: url(../img/cofee_plant/fonstola_149661.jpg);
    image: url(../img/Header_bg.jpg);
        // color: goldenrod;
        size: cover;
        repeat: no-repeat;
        };
    object-fit: cover;
        

    &-menu__wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 2rem;
      
        @media screen and (max-width: 713px) {
            flex-direction: column;
            align-items: center;
                 }

    }

    &-logo{
        display: inline-block;
        max-width:100%;
        padding-top: 2rem;
       
        @media screen and (max-width: 265px) {
            display: none;
        }
        margin-bottom: 3rem;
    }

    &__title {
        font-family: 'Lobster', cursive;
        font-weight: 400;
        font-size: 3.25rem;
        margin: 0;
       }

       @media screen and (max-width: 713px) {
           font-size: 2.5rem;
           background: {
            image: url(../img/Header_bg.jpg);
            // image: none;
            // color: goldenrod;
           }
           height: auto;
       }
    
    &__desc{
        position: relative;
        max-width: 50%;
        padding: 0 86px;
        margin: 0 auto;
        
        &:before, &:after{
            content:'';
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translateY(-50%); //сделали вместо размера смещения 0.5 пикселя, т.к. не все браузері поймут 0.5
            height: 1px;
            width: 40px;
            background-color: #fff;
        }

        &:after{
            left: auto;
            right: 20px;
        }
    }
}


.ob-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 160px;
    line-height: 60px;
    background-color: #ffffff;
    color: #7beec7;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 0.875rem;
    padding: 0 2em;
    transition: .4s;
    outline: none;
    @media screen and (max-width: 713px) {
        width: 160px;
        line-height: 60px;
        color: black !important;
        border: 2px solid black !important;
        background-color: #e2ddda !important;
        opacity: 0.8 !important;
    }
 

    &_blue {
        background-color: transparent;
        color: white;
        border: 2px solid white;
        border-radius: 40%;
    }

    &:hover {
        opacity: 0.8;
      }

      &:focus{
        background-color: #492508;
        border-color: #b1580f;
      }
      
      &:active{
        background-color: #e2ddda;
        border-color: #eb8511;
        color: black;
      }

}


.ob-section-menu {
    // border-top: 4px solid goldenrod;
    text-align: center;

    &__title {
        background-color: goldenrod;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        padding: 0 1.25rem;
        margin: 0;
        line-height: 1;
        min-height: 72px;
        color: #fff;
    }
}



.ob-btn {
    display: inline-flex;
    background-color: transparent;
    color: #b7b7b7;
    border: 1px solid currentColor; //currentColor - наследует цвет текста єлемента
    height: 2rem;
    align-items: center;
    font-size: 0.875rem;
    padding: 0 1em;
    letter-spacing: .07em;

    &__arrow{
        margin-left: .75rem;
        padding-left: 0.75rem;
        border-left: 1px solid currentColor;
    }
}



// ob-section-header

.ob-section{


    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media screen and (max-width: 713px) {
            justify-content: center;
                    }
    }  


    &__title{
        text-transform: uppercase;
        position: relative;
        text-align: center;
        margin: 20px auto;
       

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 100%; 
            margin-left: 2px;
            background-color: #e3e1e1;
            height: 1px;
            max-width: 200px;
            width: 100%;

            @media screen and (max-width: 713px) {
                content: none;
            }
           
          }

          &::before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: -100%; 
            // margin-right: 40px;
            background-color: #e3e1e1;
            height: 1px;
            max-width: 200px;
            width: 100%;

            @media screen and (max-width: 713px) {
                content: none;
            }
           
          }
              
    }

}

// section ob-dishes

.ob-dish {
    
    overflow: hidden;
    transform: rotate(360deg);
    transition: transform .9s; 
    padding-bottom: 2rem;
    // background-color: #fff;

    &__thumb{
        max-height: 400px;
        overflow: hidden;
        margin-bottom: 1.5rem;
        position: relative;
       
    }

    &-infoHidden{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100%;
        background-color: #dfe9e6c4;
        transform: translateY(-100%); /* подняли вісплівающее окно вверх*/
        transition: transform .6s;  
    }

    &:hover .ob-dish-infoHidden{
        transform: translateY(0); /* спускается полупрозрачное окошко с инфой при наведении*/
    }

    &__divimg {
        background: {
            //    image: url(../img/cofee_plant/fonstola_149661.jpg);
            image: url(../img/kava.png);
                // color: goldenrod;
                size: contain;
                repeat: no-repeat;
        }   
    width: 140px;
    height: 280px;
    margin: auto;
    }

    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    &__head{
        display: flex;
        justify-content: center;
         }

         &__title, 
         &__price
         {
            font-size: 1rem;
            font-weight: 300; 
            letter-spacing: .05em;
            line-height: 1.1;
            margin: 0 0 .875em;
            padding: 0 5px;
         }

         &-rating{
            display: inline-block;
             position: relative;
             height: 13px;
             width: 80px;
             margin-left: 5px;
            background: {
                image: url(../img/stars-grey.png);
                size: contain;
                repeat: no-repeat;
             }

             &_actual {
                 position: absolute;
                 height: 100%;
                 left: 0;
                 top: 0;
                 overflow: hidden;

                 &-stars{
                     width: 80px;
                     height: 100%;
                     background: {
                        image: url(../img/stars-gold.png);
                        size: cover;
                        repeat: no-repeat;
                     }

                 }
             }
         }
}

.ob-footer {
    align-items: center;
        // padding-left: calc(50% - 6rem);
        background: {
        // color: goldenrod;
        size: cover;
        repeat: no-repeat;
        };

    
        &__wrapper{
            display: flex;
			justify-content:center;
			width: 100%;
        }

        &__decr{
            margin: 19px 0;
            padding: 0 1rem; 
        }

        &__social{
            display: inline-block;
            margin: 19px 0;
            padding: 0 1rem; 
        }
}


// media

@media screen and (max-width: 713px) {
    .ob-menu-item {
        width: 100%;
    }
}