@charset "UTF-8";
* {
  box-sizing: border-box; }

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.ob-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ob-row + .ob-row {
  /*делаем отспут сверху для первой строчки, после первой строчки. У первой нам не нужен отступ сверху  */
  margin-top: 1rem; }

[class^='ob-col-'] {
  padding: 0 15px;
  width: 100%; }

.ob-col-1 {
  width: 8.33333%; }

.ob-col-2 {
  width: 16.66667%; }

.ob-col-3 {
  width: 25%; }

.ob-col-4 {
  width: 33.33333%; }

.ob-col-5 {
  width: 41.66667%; }

.ob-col-6 {
  width: 50%; }

.ob-col-7 {
  width: 58.33333%; }

.ob-col-8 {
  width: 66.66667%; }

.ob-col-9 {
  width: 75%; }

.ob-col-10 {
  width: 83.33333%; }

.ob-col-11 {
  width: 91.66667%; }

.ob-col-12 {
  width: 100%; }

/* common */
.visually-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

* {
  box-sizing: border-box; }

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.ob-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }

.ob-row + .ob-row {
  /*делаем отспут сверху для первой строчки, после первой строчки. У первой нам не нужен отступ сверху  */
  margin-top: 1rem; }

[class^='ob-col-'] {
  padding: 0 15px;
  width: 100%; }

.ob-col-1 {
  width: 8.33333%; }

.ob-col-2 {
  width: 16.66667%; }

.ob-col-3 {
  width: 25%; }

.ob-col-4 {
  width: 33.33333%; }

.ob-col-5 {
  width: 41.66667%; }

.ob-col-6 {
  width: 50%; }

.ob-col-7 {
  width: 58.33333%; }

.ob-col-8 {
  width: 66.66667%; }

.ob-col-9 {
  width: 75%; }

.ob-col-10 {
  width: 83.33333%; }

.ob-col-11 {
  width: 91.66667%; }

.ob-col-12 {
  width: 100%; }

/* common */
.visually-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }

body {
  font-family: 'Aleo', serif;
  color: #3b3b3b;
  background-color: burlywood; }

a {
  color: inherit;
  text-decoration: none; }

.ob-logo {
  font-family: wc_mano_negra_btaregular, serif;
  font-size: 50px;
  text-decoration: none;
  color: inherit; }
  .ob-logo span {
    color: #f34b4b; }

.ob-header {
  min-height: calc(100vh - 187px);
  display: flex;
  align-items: flex-start;
  text-align: center;
  color: #fff;
  background-image: url(../img/cofee_plant/fonstola_149661.jpg);
  background-color: goldenrod;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill; }
  .ob-header-menu__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem; }
    @media screen and (max-width: 713px) {
      .ob-header-menu__wrapper {
        flex-direction: column;
        align-items: center; } }
  .ob-header-logo {
    display: inline-block;
    max-width: 100%;
    padding-top: 2rem; }
    @media screen and (max-width: 265px) {
      .ob-header-logo {
        display: none; } }
  .ob-header__title {
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 3.25rem;
    margin: 0; }
  @media screen and (max-width: 713px) {
    .ob-header {
      font-size: 2.5rem;
      background-image: none;
      background-color: goldenrod;
      height: auto; } }
  .ob-header__desc {
    position: relative;
    max-width: 50%;
    padding: 0 86px;
    margin: 0 auto; }
    .ob-header__desc:before, .ob-header__desc:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      height: 1px;
      width: 40px;
      background-color: #fff; }
    .ob-header__desc:after {
      left: auto;
      right: 20px; }

.ob-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 160px;
  line-height: 60px;
  background-color: #ffffff;
  color: #7beec7;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem;
  padding: 0 2em;
  transition: .4s;
  outline: none; }
  @media screen and (max-width: 713px) {
    .ob-button {
      width: 160px;
      line-height: 60px; } }
  .ob-button_blue {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 40%; }
  .ob-button:hover {
    opacity: 0.8; }
  .ob-button:focus {
    background-color: #492508;
    border-color: #b1580f; }
  .ob-button:active {
    background-color: #e2ddda;
    border-color: #eb8511;
    color: black; }

.ob-section-menu {
  border-top: 4px solid goldenrod;
  text-align: center; }
  .ob-section-menu__title {
    background-color: goldenrod;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    padding: 0 1.25rem;
    margin: 0;
    line-height: 1;
    min-height: 72px;
    color: #fff; }

.ob-btn {
  display: inline-flex;
  background-color: transparent;
  color: #b7b7b7;
  border: 1px solid currentColor;
  height: 2rem;
  align-items: center;
  font-size: 0.875rem;
  padding: 0 1em;
  letter-spacing: .07em; }
  .ob-btn__arrow {
    margin-left: .75rem;
    padding-left: 0.75rem;
    border-left: 1px solid currentColor; }

.ob-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media screen and (max-width: 713px) {
    .ob-section-header {
      justify-content: center; } }

.ob-section__title {
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin: 20px auto; }
  .ob-section__title::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 2px;
    background-color: #e3e1e1;
    height: 1px;
    max-width: 200px;
    width: 100%; }
    @media screen and (max-width: 713px) {
      .ob-section__title::after {
        content: none; } }
  .ob-section__title::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -100%;
    background-color: #e3e1e1;
    height: 1px;
    max-width: 200px;
    width: 100%; }
    @media screen and (max-width: 713px) {
      .ob-section__title::before {
        content: none; } }

.ob-dish {
  overflow: hidden;
  transform: rotate(360deg);
  transition: transform .9s;
  padding-bottom: 2rem; }
  .ob-dish__thumb {
    height: 500px;
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative; }
  .ob-dish-infoHidden {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: #dfe9e6c4;
    transform: translateY(-100%);
    /* подняли вісплівающее окно вверх*/
    transition: transform .6s; }
  .ob-dish:hover .ob-dish-infoHidden {
    transform: translateY(0);
    /* спускается полупрозрачное окошко с инфой при наведении*/ }
  .ob-dish__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill; }
  .ob-dish__head {
    display: flex;
    justify-content: space-between; }
  .ob-dish__title, .ob-dish__price {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.1;
    margin: 0 0 .875em; }
  .ob-dish-rating {
    position: relative;
    height: 13px;
    width: 80px;
    background-image: url(../img/stars-grey.png);
    background-size: contain;
    background-repeat: no-repeat; }
    .ob-dish-rating_actual {
      position: absolute;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden; }
      .ob-dish-rating_actual-stars {
        width: 80px;
        height: 100%;
        background-image: url(../img/stars-gold.png);
        background-size: cover;
        background-repeat: no-repeat; }

.ob-footer {
  align-items: center;
  padding-left: calc(50% - 6rem);
  background-color: goldenrod;
  background-size: cover;
  background-repeat: no-repeat; }
  .ob-footer__wrapper {
    display: flex; }
  .ob-footer__decr {
    margin: 19px 0;
    padding: 0 1rem; }
  .ob-footer__social {
    display: inline-block;
    margin: 19px 0;
    padding: 0 1rem; }

@media screen and (max-width: 713px) {
  .ob-menu-item {
    width: 100%; } }
