@charset "UTF-8";
* {
  box-sizing: border-box; }

.container {
  max-width: 1130px;
  width: 100%;
  padding: 0 1px;
  margin: 0 auto; }

.ob-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1px;
  margin-right: -1px; }

.ob-row + .ob-row {
  /*делаем отспут сверху для первой строчки, после первой строчки. У первой нам не нужен отступ сверху  */
  margin-top: 1rem; }

[class^='ob-col-'] {
  padding: 0 1px;
  width: 100%; }

.ob-col-1 {
  width: 8.33333%; }

.ob-col-2 {
  width: 16.66667%; }

.ob-col-3 {
  width: 25%; }

.ob-col-4 {
  width: 33.33333%; }

.ob-col-5 {
  width: 41.66667%; }

.ob-col-6 {
  width: 50%; }

.ob-col-7 {
  width: 58.33333%; }

.ob-col-8 {
  width: 66.66667%; }

.ob-col-9 {
  width: 75%; }

.ob-col-10 {
  width: 83.33333%; }

.ob-col-11 {
  width: 91.66667%; }

.ob-col-12 {
  width: 100%; }

/* common */
.visually-hidden {
  position: absolute;
  left: -9999999px;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden; }
